{% extends "template.html" %}
{% block conteudo %}

    <!-- Inicio -->
    <section data-bs-version="5.1" class="gallery3 cid-swrfTAmdjG" id="gallery3-1">
        <div class="container-fluid">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Área administrativa</strong></h4>
            </div>
            <a class="btn btn-primary" href="{{ url_for('novojogo') }}" >Novo Jogo</a>
            <a class="btn btn-primary" href="{{ url_for('exibirtodos') }}" >Exibir Todos</a>
            <a class="btn btn-primary" href="{{ url_for('ocultartodos') }}" >Ocultar Todos</a>
            <div class="row mt-4">
                <!-- Jogos -->
                {% for jogo in jogos %}
                    <div class="item features-image сol-12 col-md-6 col-lg-2 active">
                        <form id="formularioJogo{{ jogo[0] }}" action="{{ url_for('atualizarindex') }}" method="post" enctype="multipart/form-data">
                            <a class="btn btn-warning" href="{{ url_for('jogoadm', id=jogo[0]) }}" >Acessar Pagina {{ jogo[4] }}</a>
                            {% if jogo[2] == 0 %}
                                <a class="btn btn-info" href="{{ url_for('exibirjogo', id=jogo[0]) }}" >Exibir {{ jogo[4] }}</a>
                            {% else  %}
                                <a class="btn btn-dark" href="{{ url_for('exibirjogo', id=jogo[0]) }}" >Ocultar {{ jogo[4] }}</a>
                            {% endif %}
                            <a class="btn btn-secondary" href="{{ url_for('excluirjogo', id=jogo[0]) }}" >Excluir {{ jogo[4] }}</a>
                            <div class="item-wrapper">
                                <label class="fileContainer">
                                    <div class="item-img">
                                        {% if jogo[6] %}
                                            <img src="data:image;base64,{{ jogo[6] }}" alt="{{ jogo[4] }}" height="430" loading="lazy">
                                        {% else  %}
                                            <img src="/static/imgs/GAMES/capa_padrao.jpg" alt="{{ jogo[4] }}" height="430" loading="lazy">
                                        {% endif %}
                                    </div>
                                    <input hidden type="file" name="arquivo" accept=".jpg,.png,.gif" value="jogo[6]">
                                </label>
                                <fieldset>
                                    {{ form.csrf_token() }}
                                    <input hidden name="id" value="{{ jogo[0] }}">
                                    <div class="item-content">
                                        {{ form.nome.label(class="form-label") }}
                                        {{ form.nome(class="form-control", value=jogo[4] ) }}
                                        <br>
                                        {{ form.salvar(class="btn btn-success") }}
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                <!-- Fim Jogos -->
            </div>
        </div>
    </section>

{% endblock %}