{% extends "template.html" %}
{% block conteudo %}

    <section class="content5 cid-sOud1i17dH">
        <div class="container">
            
            <h1>📚 Introdução</h1>
            
            <p>O "Oneplay" é um projeto de Trabalho de Conclusão de Curso (TCC) apresentado ao Curso Técnico em Informática para Internet Integrado ao Ensino Médio da Etec Comendador João Rays. Esta versão é uma reconstrução de um projeto originalmente desenvolvido em ASP.NET e MySql, agora construído com Python, Flask, SQL Server e Git.</p>
            
            <wbr>

            <h1>🎮 Sobre o Projeto</h1>

            <p>O site "Oneplay" oferece um feed de novidades onde os jogadores podem acessar notícias, curiosidades, atualizações e guias. Além disso, auxilia novos jogadores a criarem uma party dentro do próprio jogo. O objetivo é criar um ambiente de jogo mais colaborativo e interativo, promovendo a troca de experiências entre os jogadores.

            Em resumo, "Oneplay" é uma plataforma de jogos online que busca melhorar a experiência do jogador por meio da interação e colaboração. Ele é o resultado de um aprendizado contínuo e da aplicação prática de habilidades de desenvolvimento web backend adquiridas.</p>

        </div>
    </section>

    <section data-bs-version="5.1" class="contacts1 cid-sOucNUEKBI" id="contacts1-h">
        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Contato</strong></h3>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="card col-12 col-lg-6">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <div class="image-wrapper">
                                <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                            </div>
                            <h4 class="card-title mbr-fonts-style mb-2 display-2"><strong>Email</strong></h4>
                            <h5 class="link mbr-fonts-style display-7"><a href="mailto:jv10-souza@hotmail.com" class="text-primary">Enviar um email</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-lg-6">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <div class="image-wrapper">
                                <span class="mbr-iconfont mobi-mbri-mobile-2 mobi-mbri"></span>
                            </div>
                            <h4 class="card-title mbr-fonts-style align-center mb-2 display-2"><strong>Celular</strong></h4>
                            <h5 class="link mbr-black mbr-fonts-style display-7"><a href="https://wa.me/5514998241199" class="text-primary">(14) 998241199</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="contacts4 cid-sOvBiABS46" id="contacts4-15">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="text-content col-12 col-md-6 order-2">
                    <h2 class="mbr-section-title mbr-fonts-style display-2"><strong>Acesse nosso Discord!</strong></h2>
                </div>
                <div class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
                    <a href="https://discord.com/" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-discord socicon" style="font-size: 60px; color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}